@import url('https://fonts.cdnfonts.com/css/raleway-5');
                
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background-image: radial-gradient(#6a85b6, #bac8e0);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: descer 1.7s ease-in-out;
    animation-delay: calc(0.2s * var(--i));
}

form {
    background-color: white;
    color: #656565;
    padding: 32px;
    width: 450px;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.315);
}

input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    width: 440px;
    height: 25px;
    border: 2px solid #6565657d;
    outline: none;
    border-radius: 5px;
}

input:focus {
    border-color: #6a85b6;
}

legend {
    color: black;
    margin-bottom: 1rem;
}

fieldset {
    border: none;
}

select {
    margin-top: 0.5rem;
    display: grid;
    padding: 0.3rem;
    padding-right: 2rem;
    border: 2px solid #6565657d;
    border-radius: 10px;
    background-color: white;
}

select:focus {
    border-color: #6a85b6;
    background-color: #f0f0f0;
}

.vou-esconder {
    display: none;
}

.confirmar,
.limpar {
    margin-top: 1rem;
    margin-left: 0.7rem;
    width: 200px;
    height: 35px;
    border: none;
    text-align: center;
}

.fieldset-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.confirmar {
    background-color: #009f85;
    color: white;
    border: 2px white;
    border-radius: 20px;
    cursor: pointer;
}

.limpar {
    background-color: rgb(250, 14, 14);
    color: white;
    border: 2px white;
    border-radius: 20px;
    cursor: pointer;
}

.confirmar:hover {
    background-color: #009f85c4;
}

.limpar:hover {
    background-color: rgb(200, 0, 0);
}

a {
    color: #6f86d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

/* Estilização do PHP */

.conteudo {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    animation: descer 1.7s ease-in-out;
    animation-delay: calc(0.2s * var(--i));
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.conteudo p {
    color: black;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    animation: descer 2.2s ease-in-out;
    animation-delay: calc(0.2s * var(--i));
}

.conteudo p strong {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
}

span {
    font-weight: 550;
}

@keyframes descer {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.a {
    margin-top: 2rem;
    font-size: 1rem;
    display: grid;
    color: white;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}

.a:visited {
    text-decoration: none;
}